<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/planets/51-pegasi.css">
    <title>51 Pegasi b</title>
</head>

<body>
    <header>
        <div class="header1">
            <div class="header_container container">
                <div class="explore">
                    <a href="/">Explore</a>
                    <img class="arrow" src="../static/images_html/arrowdown.png" alt="">
                    <input type="text" placeholder="Search...">
                </div>
                <img class="logo" src="images/logo.png" alt="">
                <div class="Events">
                    <ul>
                        <li><a href="#">Events <img class="arrow" src="../static/images_html/arrowdow1.png" alt=""></a>
                        </li>
                        <li><a href="#">Multimedia <img class="arrow" src="../static/images_html/arrowdow1.png"
                                    alt=""></a></li>
                    </ul>
                    <p class="live">LIVE</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="overview">
            <div class="overview_container container">
                <div class="overview_content">
                    <h1>51 Pegasi b</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-block">
                <div class="information-block">
                    <h2>The Basics</h2>
                    <p>51 Pegasi b, the first extrasolar planet confirmed to orbit a sunlike star. The planet orbits a
                    fifth-magnitude star, 51 Pegasi, located 48 light-years away from Earth in the constellation
                    Pegasus. 51 Pegasi has physical properties (luminosity and temperature, for example) very similar to
                    those of the Sun. The extrasolar planet is not visible from Earth, but its presence was deduced in
                    1995 from the wobble that its gravity induces in the parent star’s motion in a 4.23-day cycle. Swiss
                    astronomers Michel Mayor and Didier Queloz were the first to find a planet through such induced
                    motions, and the discovery of 51 Pegasi b led to thousands more extrasolar planets being found.
                    (Mayor and Queloz won the 2019 Nobel Prize for Physics for their discovery.) The planet orbits
                    surprisingly close (7.8 million km [4.8 million miles]) to the star—much closer than Mercury orbits
                    the Sun (at a distance of 57.9 million km [35.9 million miles]). It has a mass 46 percent that of
                    Jupiter but has a radius 1.9 times that of Jupiter because it is inflated by its star’s heat. 51
                    Pegasi b was the first known “hot Jupiter,” a gas giant planet orbiting very close to its star. Such
                    planets upended then-current ideas of planetary system formation, which were based on the solar
                    system, in which gas giants orbit far from the Sun. The hot Jupiters likely formed far from their
                    stars and migrated inward.</p>
                    <div class="ss"><p><img src="https://science.nasa.gov/wp-content/uploads/2023/09/51_Peg_Infographic.jpeg?w=2560&format=webp" alt=""></p></div>
                    
                </div>
            </div>
            <div class="information-block">
                <h2>Summary:</h2>
                <p></p>
                <h2>Used resources:</h2>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_container container">
            <div class="content1">
                <img src="images/logo.png" alt="">
                <h4>National Aeronautics and Space Administration</h4>
                <p>NASA explores the unknown in air and space, innovates for the benefit of humanity, and inspires the
                    world through discovery.</p>
                <a href="#">About NASA's Mission</a>
            </div>
            <ul>
                <li><a href="exoplanets.html/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">NASA+</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>