<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/gas-giants.css">
    <title>Gas-Giants</title>
</head>

<body>
    <header>
        <div class="header1">
            <div class="header_container container">
                <div class="explore">
                    <a href="/">Explore</a>
                    <img class="arrow" src="../static/images_html/arrowdown.png" alt="">
                    <input type="text" placeholder="Search...">
                </div>
                <img class="logo" src="images/logo.png" alt="">
                <div class="Events">
                    <ul>
                        <li><a href="#">Events <img class="arrow" src="../static/images_html/arrowdow1.png" alt=""></a>
                        </li>
                        <li><a href="#">Multimedia <img class="arrow" src="../static/images_html/arrowdow1.png"
                                    alt=""></a></li>
                    </ul>
                    <p class="live">LIVE</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="overview">
            <div class="overview_container container">
                <div class="overview_content">
                    <h1>Gas-Giants</h1>
                </div>
            </div>
        </div>
        </div>
    </main>
    <div class="container">
        <div class="main-block">
            <div class="information-block">
                <h2>The Basics</h2>
                <p>A gas giant is a large planet mostly composed of helium and/or hydrogen. These planets, like Jupiter
                    and Saturn in our solar system, don’t have hard surfaces and instead have swirling gases above a
                    solid core. Gas giant exoplanets can be much larger than Jupiter, and much closer to their stars
                    than anything found in our solar system.</p>
                <p>For most of human history our understanding of how planets form and evolve was based on the eight
                    planets in our solar system. But over the last 25 years, the discovery of more than 5,600
                    exoplanets, or planets outside our solar system, changed all that.</p>
                <p>Gas giants, like Jupiter or Saturn in our solar system, are composed mostly of helium and/or
                    hydrogen. Gas giants nearer to their stars are often called “hot Jupiters.” More variety is hidden
                    within these broad categories. Hot Jupiters, for instance, were among the first exoplanet types
                    found – gas giants like Jupiter, yes, but orbiting so close to their stars that their temperatures
                    soar into the thousands of degrees (Fahrenheit or Celsius). These large planets make such tight
                    orbits that they cause a pronounced “wobble” in their stars, tugging their stellar hosts this way
                    and that, and causing a measurable shift in the spectrum of light from the stars. That made hot
                    Jupiters easier to detect in the early days of planet hunting using the radial velocity method.</p>

                <p>Similar in size to Jupiter, these gas-dominated planets orbit extremely close to their parent stars,
                    circling them in as few as 18 hours. We have nothing like them in our own solar system, where the
                    closest planets to the Sun are rocky and orbiting much farther away. The questions about hot
                    Jupiters are as big as the planets themselves: Do they form close to their stars or farther away
                    before migrating inward? And if these giants do migrate, what would that reveal about the history of
                    the planets in our own solar system?</p>
                <div class="ss">
                    <p><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fexoplanets.nasa.gov%2Fsystem%2Fresources%2Flist_images%2F65_thumb_320x240.png&f=1&nofb=1&ipt=a68633d90a24a572624c09185730320f572d33d992c87bd5ff4fa72a93c082af&ipo=images"
                            width=500></p>
                </div>
                <p>To answer those questions, scientists will need to observe many of these hot giants very early in
                    their formation. The detection of the exoplanet HIP 67522 b, thought to be the youngest hot Jupiter
                    ever found (in June 2020), could expand our understanding. It orbits a well-studied star that is
                    about 17 million years old, meaning the hot Jupiter is likely only a few million years younger,
                    whereas most known hot Jupiters are more than a billion years old. The planet takes about seven days
                    to orbit its star, which has a mass similar to the Sun's. Located only about 490 light-years from
                    Earth, HIP 67522 b is about 10 times the diameter of Earth, or close to that of Jupiter. Its size
                    strongly indicates that it is a gas-dominated planet.</p>

                <p>The discovery offers hope for finding more young hot Jupiters and learning more about how planets
                    form throughout the universe</p>
            </div>
            <div class="block-row">
                <div class="planet1">
                    <a href="{{ url_for('pegasi_51') }}">
                       <p>51 Pegasi b</p> 
                    </a>
                </div>
                <div class="not-planet2">
                    <p>Not Yet Found</p>
                </div>
                <div class="not-planet2">
                    <p>Not Yet Found</p>
                </div>
                <div class="not-planet2">
                    <p>Not Yet Found</p>
                </div>
            </div>
            <div class="information-block">
                <h2>Summary:</h2>
                <p></p>
                <h2>Used resources:</h2>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_container container">
            <div class="content1">
                <img src="images/logo.png" alt="">
                <h4>Stellar Innovations</h4>
                <p>All photos belong to their owners and not to us</p>
                <a href="#">About NASA's Mission</a>
            </div>
            <ul>
                <li><a href="exoplanets.html/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">NASA+</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
            <ul>
                <li><a href="#">Humans in Space</a></li>
                <li><a href="#">Earth & Climate</a></li>
                <li><a href="#">The Solar System</a></li>
                <li><a href="#">The Universe+</a></li>
                <li><a href="#">Science</a></li>
            </ul>
            <ul>
                <li><a href="#">Aeronautics</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Learning Resources</a></li>
                <li><a href="#">About NASA</a></li>
                <li><a href="#">NASA on Spanish</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>