<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stellar Innovations</title>
    <!-- {{ url_for('static', filename='css/style.css') }} -->
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>

<body>
    <header>
        <div class="header1">
            <div class="header_container container">
                <div class="explore">
                    <a href="/">Explore</a>
                    <img class="arrow" src="../static/images_html/arrowdown.png" alt="">
                    <input type="text" placeholder="Search...">
                </div>
                <img class="logo" src="images/logo.png" alt="">
                <div class="Events">
                    <ul>
                        <li><a href="#">Events <img class="arrow" src="../static/images_html/arrowdow1.png" alt=""></a>
                        </li>
                        <li><a href="#">Multimedia <img class="arrow" src="../static/images_html/arrowdow1.png"
                                    alt=""></a></li>
                    </ul>
                    <p class="live">LIVE</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="overview">
            <div class="overview_container container">
                <div class="overview_content">
                    <div class="ss">
                        <h1>Study and find exoplanets!</h1>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="describe_container container">
            <h1>Overview</h1>
            <p>An exoplanet or extrasolar planet is a planet outside the Solar System. The first possible evidence of an
                exoplanet was noted in 1917 but was not then recognized as such. The first confirmation of the detection
                occurred in 1992. A different planet, first detected in 1988, was confirmed in 2003. <br>According to
                statistics
                from the NASA Exoplanet Archive, As of 4 October 2024, there are 5,765 confirmed exoplanets in 4,304
                planetary systems, with 965 systems having more than one planet. <br>The James Webb Space Telescope
                (JWST)
                is expected to discover more exoplanets, and to give more insight into their traits, such as their
                composition, environmental conditions, and potential for life</p>
            <h2>Look for more information below!</h2>
        </div>
    </main>
    <div class="third-block">
        <iframe src="https://eyes.nasa.gov/apps/exo/#/" frameborder="0" class="aaa"></iframe>
    </div>
    <div class="fourth-block">
        <div>
            <h1>More information</h1>
        </div>
        <div class="block-row">
            <div class="gas-giants">
                <a href="{{ url_for('types') }}">
                    <p>Study</p>
                </a>
            </div>
            <div class="neptunian-planets">
                <a href="https://www.nasa.gov/News/All-News/">
                    <p>NASA News</p>
                </a>
            </div>
            <div class="super-earths">
                <a href="{{ url_for('study') }}">
                    <p>Search</p>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_container container">
            <div class="content1">
                <img src="images/logo.png" alt="">
                <h4>Stellar Innovations</h4>
                <p>All photos belong to their owners and not to us</p>
                <a href="#"></a>
            </div>
            <ul>
                <li><a href="exoplanets.html/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">NASA+</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
            <ul>
                <li><a href="#">Humans in Space</a></li>
                <li><a href="#">Earth & Climate</a></li>
                <li><a href="#">The Solar System</a></li>
                <li><a href="#">The Universe+</a></li>
                <li><a href="#">Science</a></li>
            </ul>
            <ul>
                <li><a href="#">Aeronautics</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Learning Resources</a></li>
                <li><a href="#">About NASA</a></li>
                <li><a href="#">NASA on Spanish</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>