<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stellar Innovations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <header>
        <div class="header1">
            <div class="header_container container">
                <div class="explore">
                    <a href="#">Explore</a>
                    <img class="arrow" src="../static/images_html/arrowdown.png" alt="">
                    <input type="text" placeholder="Search...">
                </div>
                <img class="logo" src="images/logo.png" alt="">
                <div class="Events">
                    <ul>
                        <li><a href="#">Events <img class="arrow" src="../static/images_html/arrowdow1.png" alt=""></a></li>
                        <li><a href="#">Multimedia  <img class="arrow" src="../static/images_html/arrowdow1.png" alt=""></a></li>
                    </ul>
                    <p class="live">LIVE</p>
                </div>
            </div>
        </div>
        <div class="header2">
            <div class="header_container1 container">
                <ul>
                    <li><a href="#">Exoplanets Home</a></li>
                    <li><a href="#">Exoplanets Overview <img class="ar" src="../static/images_html/arrowdow1.png" alt=""></a></li>
                    <li><a href="#">Search for life<img class="ar" src="../static/images_html/arrowdow1.png" alt=""></a></li>
                    <li><a href="#">Discoveries <img class="ar" src="../static/images_html/arrowdow1.png" alt=""></a></li>
                    <li><a href="#">Immersive<img class="ar" src="../static/images_html/arrowdow1.png" alt=""></a></li>
                    <li><a href="#">News<img class="ar" src="../static/images_html/arrowdow1.png" alt=""></a></li>
                    <li><a href="#">Multimedia</a></li>
                    <li><a href="#">Resources<img class="ar" src="../static/images_html/arrowdow1.png" alt=""></a></li>
                    <li><a href="#">ExEP</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="overview">
            <div class="overview_container container">
               <div class="overview_content">
                    <h1>Exoplanets</h1>
                    <p>An exoplanet is any planet beyond our solar system. Most of them orbit other stars, but some free-floating exoplanets, called rogue planets, are untethered to any star. We’ve confirmed more than 5,600 exoplanets out of the billions that we believe exist</p>
               </div>
               <div class="solarsystem">
                <div class="solarsystem_container container">
                    <div class="sun"></div>
                    <div class="mars"></div>
                </div>
            </div>
            </div>
        </div>
        <div class="describe_container container">
            <h1>Overview</h1>
            <p>Most of the exoplanets discovered so far are in a relatively small region of our galaxy, the Milky Way. ("Small" meaning within thousands of light-years of our solar system; one light-year equals 5.88 trillion miles, or 9.46 trillion kilometers.) Even the closest known exoplanet to Earth, Proxima Centauri b, is still about 4 light-years away. We know there are more planets than stars in the galaxy.</p>
            <p>By measuring exoplanets’ sizes (diameters) and masses (weights), we can see compositions ranging from rocky (like Earth and Venus) to gas-rich (like Jupiter and Saturn). Some planets may be dominated by water or ice, while others are dominated by iron or carbon. We’ve identified lava worlds covered in molten seas, puffy planets the density of Styrofoam and dense cores of planets still orbiting their stars.</p>
        </div>
    </main>
    <div class="third-block">
        <iframe src="https://eyes.nasa.gov/apps/exo/#/" frameborder="0" class="aaa"></iframe>
    </div>
    <div class="fourth-block">
        <div>
            <p>KEEP EXPLORING</p>
            <h1>Types of Exoplanets</h1>
        </div>
        <div class="block-row">
            <div class="gas-giants">
                <p>Gas giants</p>
            </div>
            <div class="neptunian-planets">
                <p>Neptunian planets</p>
            </div>
            <div class="super-earths">
                <p>Super-Earths</p>
            </div>
            <div class="terristrial-planet">
                <p>Terristrial planets</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_container container">
            <div class="content1">
                <img src="images/logo.png" alt="">
                <h4>National Aeronautics and Space Administration</h4>
                <p>NASA explores the unknown in air and space, innovates for the benefit of humanity, and inspires the world through discovery.</p>
                <a href="#">About NASA's Mission</a>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">NASA+</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
            <ul>
                <li><a href="#">Humans in Space</a></li>
                <li><a href="#">Earth & Climate</a></li>
                <li><a href="#">The Solar System</a></li>
                <li><a href="#">The Universe+</a></li>
                <li><a href="#">Science</a></li>
            </ul>
            <ul>
                <li><a href="#">Aeronautics</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Learning Resources</a></li>
                <li><a href="#">About NASA</a></li>
                <li><a href="#">NASA on Spanish</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>