<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/neptunians.css">
    <title>Neptunian-Planets</title>
</head>

<body>
    <header>
        <div class="header1">
            <div class="header_container container">
                <div class="explore">
                    <a href="/">Explore</a>
                    <img class="arrow" src="../static/images_html/arrowdown.png" alt="">
                    <input type="text" placeholder="Search...">
                </div>
                <img class="logo" src="images/logo.png" alt="">
                <div class="Events">
                    <ul>
                        <li><a href="#">Events <img class="arrow" src="../static/images_html/arrowdow1.png" alt=""></a>
                        </li>
                        <li><a href="#">Multimedia <img class="arrow" src="../static/images_html/arrowdow1.png"
                                    alt=""></a></li>
                    </ul>
                    <p class="live">LIVE</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="overview">
            <div class="overview_container container">
                <div class="overview_content">
                    <h1>Neptunian-Planets</h1>
                </div>
            </div>
        </div>
        </div>
    </main>
    <div class="container">
        <div class="main-block">
            <div class="information-block">
                <h2>The Basics</h2>
                <p>Neptunian exoplanets are similar in size to Neptune or Uranus in our solar system. Neptunian planets
                    typically have hydrogen and helium-dominated atmospheres with cores of rock and heavier metals.</p>
                <p>Neptunian exoplanets are similar in size to Neptune or Uranus in our solar system. (Neptune is about
                    four times the size, or radius, of Earth and almost 17 times its mass, or weight.) Neptunian
                    exoplanets
                    may have a mixture of interiors though all would be rocky with heavier metals at their cores.
                    Neptunian
                    planets typically have hydrogen- and helium-dominated atmospheres. We’re also discovering
                    mini-Neptunes,
                    planets smaller than Neptune and bigger than Earth. No planets like these exist in our solar system.
                </p>
                <p>While Uranus and Neptune are mostly composed of hydrogen and helium, both also contain water,
                    ammonia,
                    and methane. Since these three chemicals are typically found frozen as ices in the cold outer solar
                    system, Uranus and Neptune are often referred to as "ice giants" (though their interiors are warm
                    enough
                    that the "ices" inside them are not frozen). Researchers discovered an ice giant exoplanet 25,000
                    light-years away in 2014. We don’t know much about its composition, what it’s made of, or what
                    elements
                    are present in its atmosphere, but it’s in a similar orbit to its star as Uranus is to our Sun.</p>
                <div class="ss">
                    <p>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.extremetech.com%2Fwp-content%2Fuploads%2F2016%2F07%2Feso1624b.jpg&f=1&nofb=1&ipt=42aa64b6eaf0fa2d7021b6f3832e2d96fdab3ba9c540821a095f2ca26dfac1e6&ipo=images"
                            width=600>
                    </p>
                </div>

                <p>It can be hard to tell a lot about distant planets’ compositions. Space telescopes like NASA’s Hubble
                    (and formerly Spitzer) glean information about planet atmospheres by analyzing starlight. As
                    starlight
                    passes through a planet's atmosphere, atoms and molecules absorb light at certain wavelengths,
                    blocking
                    it from the telescope's view. The more light a planet blocks, the larger the planet appears. By
                    analyzing the amount of light blocked by the planet at different wavelengths, called spectroscopy,
                    researchers can determine which molecules make up the atmosphere. NASA’s Transiting Exoplanet Survey
                    Satellite (TESS) is designed to discover planets smaller than Neptune that transit stars bright
                    enough
                    to enable follow-up spectroscopic observations that can provide atmospheric compositions.
                </p>
                <p>Neptunian exoplanets often have thick clouds that block any light from coming through, hiding the
                    signature of the molecules in the atmosphere. The James Webb Space Telescope, launched in 2021, is
                    getting our best looks yet at exoplanet atmospheres.</p>
            </div>
            <div class="block-row">
                <div class="planet1">
                    <a href="{{ url_for('hat_p') }}">
                        <p>HAT-P-11b</p>
                    </a>

                </div>
                <div class="not-planet">
                    <p>Not Yet Found</p>
                </div>
                <div class="not-planet">
                    <p>Not Yet Found</p>
                </div>
                <div class="not-planet">
                    <p>Not Yet Found</p>
                </div>
            </div>
            <div class="information-block">
                <h2>Summary:</h2>
                <p></p>
                <h2>Used resources:</h2>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_container container">
            <div class="content1">
                <img src="images/logo.png" alt="">
                <h4>Stellar Innovations</h4>
                <p>All photos belong to their owners and not to us</p>
                <a href="#">About NASA's Mission</a>
            </div>
            <ul>
                <li><a href="exoplanets.html/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">NASA+</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
            <ul>
                <li><a href="#">Humans in Space</a></li>
                <li><a href="#">Earth & Climate</a></li>
                <li><a href="#">The Solar System</a></li>
                <li><a href="#">The Universe+</a></li>
                <li><a href="#">Science</a></li>
            </ul>
            <ul>
                <li><a href="#">Aeronautics</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Learning Resources</a></li>
                <li><a href="#">About NASA</a></li>
                <li><a href="#">NASA on Spanish</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>