<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transit method</title>
    <link rel="stylesheet" href="../static/css/study.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>

<body>
    <header>
        <div class="header_container container">
            <div class="explore">
                <a href="#">Explore</a>
                <img class="arrow" src="images_html/arrowdown.png" alt="">
                <input type="text" placeholder="Search...">
            </div>
            <img class="logo" src="images/logo.png" alt="">
            <div class="Events">
                <ul>
                    <li><a href="#">Events <img class="arrow" src="images_html/arrowdow1.png" alt=""></a></li>
                    <li><a href="#">Multimedia <img class="arrow" src="images_html/arrowdow1.png" alt=""></a></li>
                </ul>
                <p class="live">LIVE</p>
            </div>
        </div>
    </header>
    <main>
        <div class="describe_container container">
            <h2>Tutorial:</h2>
            <div class="p">
                <p>Most known exoplanets have been discovered using the transit method. A transit occurs when a planet
                    passes
                    between a star and its observer. Transits within our solar system can be observed from Earth when
                    Venus
                    or
                    Mercury travel between us and the Sun.</p>
                <p>Transits reveal an exoplanet not because we directly see it from many light-years away, but because
                    the
                    planet passing in front of its star ever so slightly dims its light. This dimming can be seen in
                    light
                    curves – graphs showing light received over a period of time. When the exoplanet passes in front of
                    the
                    star, the light curve will show a dip in brightness.</p>
                <p>This data is part of why transits are so useful: Transits can help determine a variety of different
                    exoplanet characteristics. The size of the exoplanet’s orbit can be calculated from how long it
                    takes to
                    orbit once (the period), and the size of the planet itself can be calculated based on how much the
                    star’s
                    brightness lowered.</p>
                <p>We can also learn about an exoplanet’s atmosphere during a transit. As it transits, some light will
                    go
                    through its atmosphere and that light can be analyzed to determine what different atmospheric
                    elements
                    influenced its particular dispersion. Atmospheric composition is important to determining
                    habitability.
                    Habitability can be further shown through orbital size and star temperature. These help determine
                    the
                    temperature of the planet itself, thus telling us whether its surface is a comfortable temperature
                    or
                    unsuitable for life.</p>

            </div>
            <div class="ss"><img
                    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblogs-images.forbes.com%2Fbriankoberlein%2Ffiles%2F2017%2F04%2Ftransit-1200x511.jpg&f=1&nofb=1&ipt=378c2ebfbb23a3de4650f46d7ae7d3ba2cc6bc877b45e8ff4ca830703df87253&ipo=images"
                    width=600>
            </div>

            <h2>Examples of transtit method</h2>
            <div class="ss">
                <img src="../static/images_html/example.png" alt="">
            </div>
            <h2>Instrument</h2>
            <p>For founding exoplanet you can use use our Instrument and our tutorial on YouTube:</p>
            <a class="Instrument"
                href="https://colab.research.google.com/drive/1g1gsTtc-gZqOEHUGPz-nq2UCt4f8rai0?usp=sharing#scrollTo=NA4XzDlzl9K-"><button>Instrument</button></a>
            <div class="ss">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YNiD1Z7sn9s?si=KGoHeIfJabWY50Hp"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_container container">
            <div class="content1">
                <img src="images/logo.png" alt="">
                <h4>National Aeronautics and Space Administration</h4>
                <p>NASA explores the unknown in air and space, innovates for the benefit of humanity, and inspires the
                    world through discovery.</p>
                <a href="#">About NASA's Mission</a>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">NASA+</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
            <ul>
                <li><a href="#">Humans in Space</a></li>
                <li><a href="#">Earth & Climate</a></li>
                <li><a href="#">The Solar System</a></li>
                <li><a href="#">The Universe+</a></li>
                <li><a href="#">Science</a></li>
            </ul>
            <ul>
                <li><a href="#">Aeronautics</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Learning Resources</a></li>
                <li><a href="#">About NASA</a></li>
                <li><a href="#">NASA on Spanish</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>