<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/super-earth.css">
    <title>Super-Earths</title>
</head>

<body>
    <header>
        <div class="header1">
            <div class="header_container container">
                <div class="explore">
                    <a href="/">Explore</a>
                    <img class="arrow" src="../static/images_html/arrowdown.png" alt="">
                    <input type="text" placeholder="Search...">
                </div>
                <img class="logo" src="images/logo.png" alt="">
                <div class="Events">
                    <ul>
                        <li><a href="#">Events <img class="arrow" src="../static/images_html/arrowdow1.png" alt=""></a>
                        </li>
                        <li><a href="#">Multimedia <img class="arrow" src="../static/images_html/arrowdow1.png"
                                    alt=""></a></li>
                    </ul>
                    <p class="live">LIVE</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="overview">
            <div class="overview_container container">
                <div class="overview_content">
                    <h1>Super-Earths</h1>
                </div>
            </div>
        </div>
        </div>
    </main>
    <div class="container">
        <div class="main-block">
            <div class="information-block">
                <h2>The Basics</h2>
                <p>Super-Earths – a class of planets unlike any in our solar system – are more massive than Earth yet
                    lighter than ice giants like Neptune and Uranus, and can be made of gas, rock or a combination of
                    both.
                    They are between twice the size of Earth and up to 10 times its mass.</p>
                <p>Super-Earth is a reference only to an exoplanet’s size – larger than Earth and smaller than Neptune –
                    but not suggesting they are necessarily similar to our home planet. The true nature of these planets
                    remains shrouded in uncertainty because we have nothing like them in our own solar system – and yet,
                    they are common among planets found so far in our galaxy.</p>

                <div class="ss">
                    <p>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthesciencebreaker.org%2Fstorage%2Fbreaks%2Fimages%2Fare-super-earths-more-friendly-to-life-than-we-thought%2Fare-super-earths-more-friendly-to-life-than-we-thought.jpeg&f=1&nofb=1&ipt=f798eb1dcb1a7d4e06884b17963e799de2d1a1623c6da16a1e862f4aa8b85046&ipo=images"
                            width=700>
                    </p>
                </div>
                <p>Over the last three decades, we have discovered all kinds of strange planets we never knew existed
                    and
                    that have no analog in our solar system. Super-Earths can be up to 10 times more massive than Earth.
                    We
                    don’t yet know enough about these planets to tell at what point they might lose a rocky surface. But
                    in
                    the range of 3-10 times the mass of Earth, there might be a wide variety of planetary compositions,
                    including water worlds, snowball planets, or planets that, like Neptune, are composed largely of
                    dense
                    gas. Exoplanets at the upper limits of the super-Earth size limit can also be referred to as
                    sub-Neptunes, or mini-Neptunes.</p>
            </div>
            <div class="block-row">
                <div class="planet1">
                    <a href="{{ url_for('toi_700') }}">
                        <p>TOI-700</p>
                    </a>

                </div>
                <div class="not-planet">
                    <p>Not Yet Found</p>
                </div>
                <div class="not-planet">
                    <p>Not Yet Found</p>
                </div>
                <div class="not-planet">
                    <p>Not Yet Found</p>
                </div>
            </div>
            <div class="information-block">
                <h2>Summary:</h2>
                <p></p>
                <h2>Used resources:</h2>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_container container">
            <div class="content1">
                <img src="images/logo.png" alt="">
                <h4>National Aeronautics and Space Administration</h4>
                <p>NASA explores the unknown in air and space, innovates for the benefit of humanity, and inspires the
                    world through discovery.</p>
                <a href="#">About NASA's Mission</a>
            </div>
            <ul>
                <li><a href="exoplanets.html/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">NASA+</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
            <ul>
                <li><a href="#">Humans in Space</a></li>
                <li><a href="#">Earth & Climate</a></li>
                <li><a href="#">The Solar System</a></li>
                <li><a href="#">The Universe+</a></li>
                <li><a href="#">Science</a></li>
            </ul>
            <ul>
                <li><a href="#">Aeronautics</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Learning Resources</a></li>
                <li><a href="#">About NASA</a></li>
                <li><a href="#">NASA on Spanish</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>