<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/planets/toi-700.css">
    <title>TOI-700</title>
</head>

<body>
    <header>
        <div class="header1">
            <div class="header_container container">
                <div class="explore">
                    <a href="/">Explore</a>
                    <img class="arrow" src="../static/images_html/arrowdown.png" alt="">
                    <input type="text" placeholder="Search...">
                </div>
                <img class="logo" src="images/logo.png" alt="">
                <div class="Events">
                    <ul>
                        <li><a href="#">Events <img class="arrow" src="../static/images_html/arrowdow1.png" alt=""></a>
                        </li>
                        <li><a href="#">Multimedia <img class="arrow" src="../static/images_html/arrowdow1.png"
                                    alt=""></a></li>
                    </ul>
                    <p class="live">LIVE</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="overview">
            <div class="overview_container container">
                <div class="overview_content">
                    <h1>TOI-700</h1>
                </div>
            </div>
        </div>
        <div class="describe_container container">
            <div class="container">
                <div class="main-block">
                    <h2>The Basics</h2>
                    <div class="information-block">
                        <p>TOI 700 is a small, cool M dwarf star located just over 100 light-years away in the southern
                            constellation
                            Dorado. It’s roughly 40% of the Sun’s mass and size and about half its surface temperature.
                            The star
                            appears
                            in 11 of the 13 sectors TESS observed during the mission’s first year, and scientists caught
                            multiple
                            transits by its three planets.</p>
                        <p>The star was originally misclassified in the TESS database as being more similar to our Sun,
                            which
                            meant
                            the
                            planets appeared larger and hotter than they really are. Several researchers, including
                            Alton
                            Spencer, a
                            high school student working with members of the TESS team, identified the error.</p>
                        <p>“When we corrected the star’s parameters, the sizes of its planets dropped, and we realized
                            the
                            outermost
                            one was about the size of Earth and in the habitable zone,” said Emily Gilbert, a graduate
                            student
                            at
                            the
                            University of Chicago. “Additionally, in 11 months of data we saw no flares from the star,
                            which
                            improves
                            the chances TOI 700 d is habitable and makes it easier to model its atmospheric and surface
                            conditions.”
                        </p>
                        <p>Gilbert and other researchers presented the findings at the 235th meeting of the American
                            Astronomical
                            Society in Honolulu, and three papers — one of which Gilbert led — have been submitted to
                            scientific
                            journals.</p>

                        <div class="kartinka">
                            <p><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-wixmp-ed30a86b8c4ca887773594c2.wixmp.com%2Ff%2F3650c575-34ba-4079-b9ba-1832b8ba9bfa%2Fde45bkv-010d02cf-000b-45e2-8ea9-35cb0511adc5.jpg%2Fv1%2Ffill%2Fw_1920%2Ch_2400%2Cq_75%2Cstrp%2Ftoi_700_d_by_layerzero_de45bkv-fullview.jpg%3Ftoken%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjQwMCIsInBhdGgiOiJcL2ZcLzM2NTBjNTc1LTM0YmEtNDA3OS1iOWJhLTE4MzJiOGJhOWJmYVwvZGU0NWJrdi0wMTBkMDJjZi0wMDBiLTQ1ZTItOGVhOS0zNWNiMDUxMWFkYzUuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.S1gDBa4q8T7HYK4KSKE4eFAtnLBDndin9nyZdOhO4ng&f=1&nofb=1&ipt=02f2c6c1a140d2e8bd2bc09c1b76dac2dfa7640deabd347c9610505cf149ebf6&ipo=images"
                                    alt="" width="550" height="700"></p>
                        </div>
                        <p>The innermost planet, called TOI 700 b, is almost exactly Earth-size, is probably rocky and
                            completes
                            an
                            orbit every 10 days. The middle planet, TOI 700 c, is 2.6 times larger than Earth — between
                            the
                            sizes of
                            Earth and Neptune — orbits every 16 days and is likely a gas-dominated world. TOI 700 d, the
                            outermost
                            known
                            planet in the system and the only one in the habitable zone, measures 20% larger than Earth,
                            orbits
                            every 37
                            days and receives from its star 86% of the energy that the Sun provides to Earth. All of the
                            planets
                            are
                            thought to be tidally locked to their star, which means they rotate once per orbit so that
                            one side
                            is
                            constantly bathed in daylight.</p>
                    </div>
                </div>
            </div>


            <div class="information-block">
                <h2>Summary:</h2>
                <p></p>
                <h2>Used resources:</h2>
                <a href=""></a>
                <a href=""></a>

                <div class="kartinka"><a href="{{ url_for('toi_system') }}" class=".ss">
                        <h1>Look how this solar system looks!</h1>
                    </a></div>

            </div>
        </div>
    </main>
    <footer>
        <div class="footer_container container">
            <div class="content1">
                <img src="images/logo.png" alt="">
                <h4>National Aeronautics and Space Administration</h4>
                <p>NASA explores the unknown in air and space, innovates for the benefit of humanity, and inspires the
                    world through discovery.</p>
                <a href="#">About NASA's Mission</a>
            </div>
            <ul>
                <li><a href="exoplanets.html/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">NASA+</a></li>
                <li><a href="#">Missions</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>